
<h1>My Quotes</h1>
<hr>
<ul>
    <div *ngFor='let quote of quotes;let i = index'>
        <li id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}} </li>
        <button  (click)='toogleDetails(i)'>Toogle Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote'(isComplete)='completeQuote($ervent,i)' ></app-quote-details>

    </div>
   
</ul>
<!-- <p *ngIf='Quotes.length > 5'>You have too many Quotes</p> -->
  <!-- <p *ngIf='Quotes.length > 5'>You have too many Quotes</p> -->

 